body{
  margin:0;
  font-family: sans-serif;
  background:#f8f9fa;
  text-align:center;
}

.hero{
  padding:0;
}

.hero-logo{
  width:100%;
  max-width:1200px;
  height:auto;
  display:block;
  margin:0 auto;
  border-radius:16px;
}
